<!DOCTYPE html>
<html>
<head>
    <meta>
    <title>RenovAIde</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="LOGO" width="100" height="70">
    </header>

    <main>
        <h2>Page d'accueil</h2>
        <p>Bienvenue sur notre application de rénovation énergétique.<br>Découvrez notre chatbot pour améliorer l'efficacité énergétique de votre logement.</p>
        
       <!-- ... -->
<h3>Informations sur le logement</h3>
<form id="renovationForm"  action="/init_chat" method="POST">
    <label for="surface">Surface (m²)</label>
    <input type="number" id="surface" name="surface" required><br>

    <label for="dpe">Diagnostic de Performance Énergétique (DPE)</label>
    <select id="dpe" name="dpe">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="G">G</option>
    </select><br>

    <label for="department">Département</label>
    <select id="department" name="department">
        <option value="76">Seine-Maritime : 76</option>
        <option value="27">Eure : 27</option>
        <option value="50">Manche : 50</option>
        <option value="61">Orne : 61</option>
        <option value="14">Calvados : 14</option>
    </select>

    <label for="property_type">Type de bien</label>
    <select id="property_type" name="property_type">
        <option value="Maison">Maison</option>
        <option value="Appartement">Appartement</option>
    </select><br>

    <label for="build_year">Année de construction</label>
    <input type="number" id="build_year" name="build_year" required><br>

    <label for="energy_type">Type d'énergie</label>
    <select id="energy_type" name="energy_type">
        <option value="Elecrique">Elecrique</option>
        <option value="Gaz">Gaz</option>
        <option value="ElecriqueGaz">Electrique & Gaz</option>
    </select><br>

    <select id="glazing_type" name="glazing_type">
        <option value="Simple">Simple vitrage</option>
        <option value="Double">Double vitrage</option>
        <option value="Triple">Triple vitrage</option>
    </select><br>

    <button type="submit">Calculer les recommandations de rénovation</button>
    <!--<button type="button" id="saveData">Calculer les recommandations de rénovation</button> -->

</form>
<!-- ... -->
    <footer>
        <p style="text-align: left;">&copy; Equipe Data Devolis RenovAIde</p>
        <img src="{{ url_for('static', filename='images/region_normandie.jpg') }}" alt="Région Normandie" width="75" height="35">
        <img src="{{ url_for('static', filename='images/DataLab.jpg') }}" alt="DataLab" width="100" height="35">
    </footer>
</body>
</html>